<h1> Let's find some recipes! </h1>

<p> Enter three ingredients found in your fridge or pantry: </p>
<form action="/get_foods">
  <div>
    <label for="">Ingredient 1: </label>
    <input type="text" name="ingredient_one">
  </div>
  <div>
    <label for="">Ingredient 2: </label>
    <input type="text" name="ingredient_two">
  </div>
  <div>
    <label for="">Ingredient 3: </label>
    <input type="text" name="ingredient_three">
  </div>

  <button> Submit </button>
</form>
