<!DOCTYPE html>
<html>
  <head>
    <title>Find a Recipe!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      img {display:block;}
      ol {font-size: 2rem;}
      div{
      border-radius: 100px;
      background: linear-gradient(145deg, #0153BF, #2F89FE );
      box-shadow:  34px 34px 69px #517cd2,
             -34px -34px 69px #6da8ff;
      margin: auto;
      }

      *{
        margin: auto;
        width: 80%;
        border: 5px light blue;
        padding: 10px;
      }

      button{
        display: block;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
